export PATH="${HOME}/bin:${HOME}/.local/bin:${PATH}"

export _JAVA_OPTIONS="-Dawt.useSystemAAFontSettings=on -Dswing.aatext=true -Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel"

export QT_QPA_PLATFORMTHEME="qt5ct"

export PASSWORD_STORE_ENABLE_EXTENSIONS="true"

export SUDO_ASKPASS=/usr/lib/ssh/x11-ssh-askpass

# disable bell
xset -b
